<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'flatpages/default.html' %}
    {% load custom_tags %}
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    {% block title %}
    <title>Test</title>
    {% endblock title    %}
</head>


<body>
asdasdsa

{% block content %}
    {% if a != 3 %}
        firsilokdiftg
    {% endif %}
    
    
    <form action="" method="post">
    {% csrf_token %}        
        {{ form  | crispy}}     
    <input type="submit" value="Сохранить" />
    
    </form>
{% endblock content %}
</body>

</html>